body {
    width: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

button {
    display: inline;
    padding: 5px;
    margin: 5px;
    border: 1px solid #333333;
    background-color: #dddeee;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}

h1 {
    text-align: center;
}

#loginForm {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

#signIn {
    display: inline;
    background-color: green;
    color: white;
    font-size: 15px;
}

#apiList {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.videoWrapper {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
}

video {
    width: 200px;
    height: 100px;
    display: block;
    border: 1px solid #333;
}

#conferenceMethods {
    display: none;
}
